<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::marketing">
                    <resource id="Magento_Backend::marketing_seo">
                        <resource id="Okama_SeoRules::rule" title="Seo Rules" translate="title" sortOrder="110">
                            <resource id="Okama_SeoRules::rule_save" title="Save Rule" translate="title" sortOrder="10" />
                            <resource id="Okama_SeoRules::rule_delete" title="Delete Rule" translate="title" sortOrder="20" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
