<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Oakma\SeoRule\Api\Data\RuleSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Oakma\SeoRule\Api\Data\RuleInterface" type="Oakma\SeoRule\Model\Rule" />
    <preference for="Oakma\SeoRule\Api\RuleRepositoryInterface" type="Oakma\SeoRule\Model\RuleRepository" />
    <preference for="Oakma\SeoRule\Api\RuleManagementInterface" type="Oakma\SeoRule\Model\RuleManagement" />

    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="Oakma\SeoRule\Api\Data\PageInterface" xsi:type="string">Oakma\SeoRule\Api\RuleRepositoryInterface</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Oakma\SeoRule\Model\Api\SearchCriteria\PageCollectionProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="filters" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\FilterProcessor</item>
                <item name="sorting" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\SortingProcessor</item>
                <item name="pagination" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\PaginationProcessor</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Oakma\SeoRule\Model\PageRepository">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">Oakma\SeoRule\Model\Api\SearchCriteria\PageCollectionProcessor</argument>
        </arguments>
    </type>
</config>
