<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Oakma\SeoRules\Api\Data\RuleSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Oakma\SeoRules\Api\Data\RuleInterface" type="Oakma\SeoRules\Model\Rule" />
    <preference for="Oakma\SeoRules\Api\Data\Rule\EntityInterface" type="Oakma\SeoRules\Model\Rule\Entity" />
    <preference for="Oakma\SeoRules\Api\RuleRepositoryInterface" type="Oakma\SeoRules\Model\RuleRepository" />
    <preference for="Oakma\SeoRules\Api\RuleManagementInterface" type="Oakma\SeoRules\Model\RuleManagement" />
    <preference for="Oakma\SeoRules\Api\Rule\EntityManagementInterface" type="Oakma\SeoRules\Model\Rule\EntityManagement" />

    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="Oakma\SeoRules\Api\Data\PageInterface" xsi:type="string">Oakma\SeoRules\Api\RuleRepositoryInterface</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Oakma\SeoRules\Model\Api\SearchCriteria\RuleCollectionProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="filters" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\FilterProcessor</item>
                <item name="sorting" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\SortingProcessor</item>
                <item name="pagination" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\PaginationProcessor</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Oakma\SeoRules\Model\RuleRepository">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">Oakma\SeoRules\Model\Api\SearchCriteria\RuleCollectionProcessor</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="seorules_listing_data_source" xsi:type="string">Oakma\SeoRules\Model\ResourceModel\Rule\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <type name="Oakma\SeoRules\Ui\Component\GridDataProvider">
        <arguments>
            <argument name="meta" xsi:type="array"></argument>
        </arguments>
    </type>

    <!--<virtualType name="Oakma\SeoRules\Ui\Component\Listing\Column\Rule\Options\SearchCriteria" type="Magento\Framework\Api\SearchCriteriaInterface" />

    <type name="Oakma\SeoRules\Ui\Component\Listing\Column\Rule\Options">
        <arguments>
            <argument name="ruleRepository" xsi:type="object">Oakma\SeoRules\Api\RuleRepositoryInterface</argument>
            <argument name="searchCriteria" xsi:type="object">Oakma\SeoRules\Ui\Component\Listing\Column\Rule\Options\SearchCriteria</argument>
        </arguments>
    </type>-->
</config>
