<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Oakma_SeoRules::rule" title="Seo Rules" translate="title" module="Oakma_SeoRules" sortOrder="110" parent="Magento_Backend::marketing_seo" action="seorules/rule" resource="Oakma_SeoRules::rule"/>
    </menu>
</config>
